.SideBar {
  width: 25%;
  height: 100vh;
  position: fixed;
  z-index: 50;
  color: #fff;
  /* background-color: #ff9800; */
  background-color: rgba(27, 26, 26, 1);
}

@media (max-width: 767px) {
  .SideBar {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 50;
    color: #fff;
    /* background-color: #ff9800; */
    background-color: rgba(27, 26, 26, 1);
  }
}

.SideBar h1 {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.SideBar h2 {
   margin-left: 1rem;
   margin-top: 5rem;
   padding: 1rem;
}

.SideBar h3 {
  text-align: center;
}

.SideBar h2:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.SideBar p {
   text-align: center;
   font-size: 1.2rem;
}
