
.SideBar {
  width: 100%;
  height: 100%;
  background-color: #ff9800;
  transform: translateY(-1.3rem);
}

.SideBar h1 {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.SideBar h2 {
   margin-left: 1rem;
   margin-top: 5rem;
   padding: 1rem;
}

.SideBar h2:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.SideBar p {
   text-align: center;
   font-size: 1.2rem;
}
