.SideBar {
  width: 25%;
  height: 100vh;
  position: fixed;
  z-index: 50;
  color: #fff;
  /* background-color: #ff9800; */
  background-color: rgba(27, 26, 26, 1);
}

.DrawerBox {
  display: none;
}

@media (max-width: 768px) {
  .SideBar {
    display: none;
  }
  .DrawerBox {
    display: block;
  }
}

.SideBar h1 {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.SideBar h2 {
   margin-left: 1rem;
   margin-top: 5rem;
   padding: 1rem;
}

.SideBar h3 {
  text-align: center;
}

.SideBar h2:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.SideBar p {
   text-align: center;
   font-size: 1.2rem;
}

.Picture {
  width: 100%;
  border-radius: 100%;
  background-size: cover;
}
