.TopNav {
  position: relative;
}

.TopMenu {
  position: absolute;
  z-index: 50;
  top: 2rem;
  right: 2rem;
}

.AuthDialogBox {
  font-size: 1.5rem;
}
.MobileNav {
  display: none;
}

@media (max-width: 767px) {
  .TopMenu {
    display: none;
  }
  .MobileNav {
    display: block;
  }

  .NavigationCheckbox {
    display: none;
  }

  .NavigationButton {
    height: 5rem;
    width: 5rem;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    top: .5rem;
    right: 2.5rem;
    background-color: #cf8f33;
    z-index: 2000;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
  }

  .NavigationBackground {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 1rem;
    right: 3rem;
    background-image: radial-gradient(#f7af43, #ff9800);
    z-index: 1000;
    transition: transform .8s;
     /* transform: scale(80);  */
  }

  .MobileNavigationBox {
     height: 100vh;
     width: 0;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1500;
     opacity: 0;
     transition: all .8s;
  }

  .MobileNavigationList {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .MobileNavigationList li {
    list-style-type: none;
    padding: 1rem 4rem;
    background-color: #fff;
    box-shadow: 1px 2px 0px #00000026;
    margin: 2rem;
  }

  .MobileNavigationList li a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
  }

  .NavigationCheckbox:checked ~ .NavigationBackground {
    transform: scale(80);
  }

  .NavigationCheckbox:checked ~ .MobileNavigationBox {
     opacity: 1;
     width: 100%;
  }

  /* for icon lines */
  .NavigationIcon {
    position: relative;
    margin-top: 1.7rem;
    text-align: center;
  }
  .NavigationIcon,
  .NavigationIcon::before,
  .NavigationIcon::after {
    width: 2.5rem;
    height: 1.2px;
    background-color: #333;
    display: inline-block;
    right: .7rem;
  }

  .NavigationIcon,
  .NavigationIcon::before,
  .NavigationIcon::after {
    content: "";
    position: absolute;
    transition: all .3s;
  }

  .NavigationIcon {
    top: 1rem;
    right: .7rem;
  }

  .NavigationIcon::before {
    top: -1rem;
  }
  .NavigationIcon::after {
    top: 1rem;
  }
  .NavigationCheckbox:checked + .NavigationButton {
    background-color: transparent;
  }
  .NavigationCheckbox:checked + .NavigationButton .NavigationIcon {
     background-color: transparent;
  }
  .NavigationCheckbox:checked + .NavigationButton .NavigationIcon::before {
     top: 0;
     transform: rotate(135deg);
  }
  .NavigationCheckbox:checked + .NavigationButton .NavigationIcon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}

.TopMenu h4 {
  position: absolute;
  top: 1rem;
  right: 3rem;
  background-color: #ff9800;
  padding: 8px 10px;
  color: #fff;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 3px 2px 3px #ccc;
}

.TopMenu h4:hover {
  cursor: pointer;
  box-shadow: 5px 3px 5px #ccc;
}

#AuthBox {
  display: block;
}


.AuthBoxInline {
  position: absolute;
  right: 22rem;
  z-index: 200;
  top: 8rem;
  width: 25%;
  /* box-shadow: 1px 2px 3px #eee; */
  padding-bottom: 3rem;
}

.AuthBoxInline h3 {
  text-align: center;
}
/*
@keyframes moveInRight {
	0%, 40% { right: -100%; opacity: 0; }
  41%, 100% { right: 0%; opacity: 1; }
} */

.NavigationBox {
  position: absolute;
  top: 3rem;
  right: 3rem;
  padding: 10px;
  box-shadow: 1px 2px 2px #ccc;
  border-radius: 3px;
  font-size: 1rem;
  display: none;
}

.NavigationBox:hover {
  display: block;
}

/* #NavBox {
  display: block;
} */

.NavigationBox ul {
  padding: 0;
}

.NavigationBox ul li {
  list-style: none;
  padding: 10px 20px;
  color: #ff9800;
  cursor: pointer;
}

.NavigationBox ul li:hover {
  background-color: #ccc;
}

.Profile {
  position: relative;
  width: 15rem;
  height: 3rem;
  font-size: 1rem;
}

.Profile:hover + .NavigationBox {
  display: block;
}

.Picture {
  cursor: pointer;
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;

}

.ProfileName {
  position: absolute;
  top: 1rem;
  left: 3.5rem;
}

.FormControl {
  display: flex;
  margin: 1rem 2rem;
}

.FormLabel {
  flex: 1;
}

.FormInput {
  flex: 3;
  width: 100%;
}

.FormInput input {
  border-bottom: 2px solid #ccc;
}

.AuthForm {
  font-size: .8rem;
}
