.Dashboard {
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

.DashboardMain {
  background-color: red;
  width: 100%;
  height: 100%;
  position: relative;
}

.DashboardInnerBox {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 2px 3px 3px #ccc;
}

@media (max-width: 768px) {
  .DashboardInnerBox {
    position: absolute;
    font-size: 1.3rem;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    padding: 1rem;
    transform: translate(-50%, -50%);
  }
}

.CreateSurveyBtn {
  color: #fff;
  background-color: #ff9800;
  text-align: center;
}

.CreateSurveyBtn button {
  color: #fff;
  background-color: #ff9800;
  text-align: center;
  width: 100%;
}

.SideBarMenuItems ul li {
  list-style-type: none;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  width: 60%;
}

.SideBarMenuItems ul li:hover {
  color: #ffb84d;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

/* .SideBarMenuItems ul li:active {
  color: #ffb84d;
} */
