.Dashboard {
  height: 100vh;
  width: 100%;
  background-color: red;
}

.SurveyImageBox img{
  width: 10rem;
  height: 10rem;
  display: inline-block;
}

.SurveyImageBoxCircle img{
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  margin: auto 50%;
}

.SideBar {
  width: 100%;
  height: 100%;
  background-color: #ff9800;
  transform: translateY(-1.3rem);
}

.SideBar h1 {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.SideBar h2 {
   margin-left: 1rem;
   margin-top: 5rem;
   padding: 1rem;
}

.SideBar h3 {
  text-align: center;
}

.SideBar h2:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.SideBar p {
   text-align: center;
   font-size: 1.2rem;
}


.DashboardMain {
  background-color: #ccc;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: scroll;
}

.DashboardInnerBox {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.DashboardContent {
  text-align: center;
  margin: 0 auto;
}

.InputArea {
  text-align: left;
  margin: 5rem;
  width: 60%;
  margin: 0 auto;
}

.InputArea label {
  margin-right: 2rem;
  width: 100%;
  display: block;
}

.InputArea input {
  width: 100%;
  display: block;
}

.InputArea div {
  margin: .5rem
}

.Copyright {
  position: absolute;
  bottom: .5rem;
  font-style: italic;
  font-size: .8rem;
  left: 2rem;
  color: #fff;
}
