.Dashboard {
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

.DashboardMain {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: relative;
}

.DashboardInnerBox {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 2px 3px 3px #ccc;
}

.CreateSurveyBtn {
  color: #fff;
  background-color: #ff9800;
  text-align: center;
}

.CreateSurveyBtn button {
  color: #fff;
  background-color: #ff9800;
  text-align: center;
  width: 100%;
}
